.container {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: #bdbdbd;
  border-radius: 8px;
  padding: 0.8rem;
}

.weatherSearch {
  margin: 0 15px;
  border: none;
  color: #3c3c3e;
}

.weatherIcon {
  color: #3c3c3e;
}

.container-mid {
  margin: 3rem 0;
}
